services:
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    command: >
      bash -c "/opt/spark/sbin/start-master.sh &&
               tail -f /opt/spark/logs/*"
    ports:
      - "7077:7077"
      - "8081:8080"

  spark-worker:
    image: apache/spark:3.5.1
    container_name: spark-worker
    depends_on:
      - spark-master
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 &&
              tail -f /opt/spark/logs/*"

  airflow:
    image: apache/airflow:2.8.0
    container_name: airflow
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/jobs:/opt/airflow/jobs
      - ./requirements.txt:/requirements.txt
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    command: >
      bash -c "
      pip install --no-cache-dir -r /requirements.txt &&
      airflow standalone
      "



