services:
  postgres:
    image: postgres:15
    container_name: postgres_pib
    environment:
      POSTGRES_DB: pib
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - pib_net

  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    environment:
      - SPARK_MODE=master
    ports:
      - "8081:8080"     # Spark Master UI
      - "7077:7077"     # Spark Master RPC
    volumes:
      - ./data:/opt/spark/data
      - ./spark/jobs:/opt/spark/jobs
    networks:
      - pib_net

  spark-worker:
    image: apache/spark:3.5.1
    container_name: spark-worker
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    volumes:
      - ./data:/opt/spark/data
      - ./spark/jobs:/opt/spark/jobs
    networks:
      - pib_net

  airflow:
    image: apache/airflow:2.8.0
    container_name: airflow
    depends_on:
      - postgres
      - spark-master
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/pib
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./spark/jobs:/opt/airflow/spark/jobs
      - ./data:/opt/airflow/data
      - ./requirements.txt:/requirements.txt
    ports:
      - "8080:8080"
    command: >
      bash -c "
      pip install --no-cache-dir -r /requirements.txt &&
      airflow standalone
      "
    networks:
      - pib_net

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - pib_net

volumes:
  postgres_data:

networks:
  pib_net:
